.layout {
  display: block;
  margin: 0 5rem;
  margin-top: 2rem;
  &__nav {
    display: flex;
    justify-content: start;
    margin-bottom: 2rem;
  }
  &__navlist {
    display: flex;
  }
  &__navitem {
    display: flex;
    margin-right: 1rem;
  }
}
